fastapi>=0.95.0
uvicorn>=0.21.1
sqlalchemy>=1.4.41
psycopg2-binary>=2.9.6
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.6
pydantic>=1.10.7
python-dotenv>=1.0.0
APScheduler==3.10.1

# Scraping dependencies
playwright==1.39.0
pyee==11.0.1
greenlet==3.0.0